.greeting {
    background-image:  url("shirt_material.jpg");
    background-size: cover;
    border-top: solid 1em #FFCF33;
}

.sticker {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 33vh;
}

p {
    width: 35em;
    word-wrap: break-word;
}

section {
    margin: 0 auto;
}