.greeting {
    background-image:  url("shirt_material.jpg");
    background-size: cover;
    border-top: solid 1em #FFCF33;
}

.sticker {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 33vh;
}

p {
    word-wrap: break-word;
}

.intro, .location, .questions {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}