.greeting {
    background-image:  url("shirt_material.jpg");
    background-size: cover;
    border-top: solid 1em #FFCF33;
    margin: -0.5em -0.5em -0.5em -0.5em;
}

.sticker {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
}

p {
    word-wrap: break-word;
}

.intro, .location, .questions {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}